:root {
  --primary-color: #132743;
  --secondary-color: #407088;
  --third-color: #ffb5b5;
  --fourth-color:#ffcbcb;
}

[data-theme="blue"] {
  --primary-color: #142d4c; 
  --secondary-color: #385170; 
  --third-color:#9fd3c7; 
  --fourth-color: #ececec; 
}

a {
  text-decoration: none;
  color: var(--third-color)
}
a:hover {
  color: var(--fourth-color)
}
h1 {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0;
  padding-top: 6px;
}
hr {
  margin-top: 3px;
  margin-bottom: 3px;
  color: var(--secondary-color);
}
img {
  vertical-align: top;
}
li {
  list-style-type: none;
  color: var(--secondary-color);
}
ul {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
ul.details {
  display: inline;
  font-size: 12px;
  line-height: 14px;
}

.btn, .btn:focus{
  border-color: var(--third-color);
  background-color: var(--third-color);
  color: var(--primary-color);
}
.btn:hover {
  border-color: var(--fourth-color);
  background-color: var(--fourth-color);
  color: var(--primary-color);
}
.card {
  margin: 20px auto;
  max-width: 600px;
  min-width: 550px;
}
.card-body, .header {
  padding: 8px;
}
.card-footer {
  padding: 5px;
  font-size: 12px;
}
.date{
  color: var(--primary-color);
  font-size: 16px;
}
.description:first-letter {
  text-transform: capitalize;
}
.forecast {
  padding-top: 10px;
}
.forecast-details {
  text-align: center;
}
.forecast-max-temp {
  color: var(--primary-color);
  font-size: 13px;
}
.forecast-min-temp {
  color: var(--third-color);
  font-size: 13px;
}
.general-info {
  text-align: right;
}
.searchButtonCol {
  padding: 0;
}
.temperature-today {
  font-size: 62px;
  line-height: 72px;
}
.theme  {
  text-align: right;
}
.units {
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
  cursor: default;
}
.weather-icon {
  width: 80px;
}
.weather-icon-small {
  width: 60px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--third-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--third-color)
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--third-color)
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}