.card {
  margin: 20px auto;
  max-width: 600px;
}
.card-body {
  padding: 5px;
}
.card-footer {
  padding: 5px;
}
.general-info {
  text-align: right;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
